* { box-sizing: border-box; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  color: #F2F2F2;
  background: #094390;
  line-height: 1.4;
  max-width: 500px;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}
